
@font-face { font-family: op; src: url('Aclonica-Regular.ttf'); } 

/* #bg .py-5{
    max-width: 100%;
} */
.wrapper{
    width: 100%;
    overflow-x: hidden;
}
.wrapper .container{
    /* max-width: 1400px; */
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}
.category-filter{
    margin-top: 40px;
}
.title{
    margin-bottom: 40px;
}
.title h1{
    color: #1b1919;
    text-align: center;
    font-weight: 800;
    font-size: 36px;
    letter-spacing: 1px;
}
.filter-btns{
    text-align: center;
}
.filter-btn{
    background: none;
    cursor: pointer;
    border: none;
    font-family: inherit;
    text-transform: uppercase;
    display: inline-block;
    margin: 10px 30px;
    font-size: 16px;
    color: #d3d3d3;
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.filter-btn::after{
    content: "";
    position: absolute;
    top: 110%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 2px;
    width: 0;
    background-color: #555;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out
}
.filter-btn:hover{
    color: #555;
}
.filter-btn:hover::after{
    width: 100%;
}
/* active button */
.active-btn{
    color: #555;
}
.active-btn::after{
    width: 100%;
}
/*  */

.filter-items{
    margin-top: 40px;
}
.item-img{
    position: relative;
    overflow: hidden;
}
.item-img::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(212, 203, 203, 0.1);
}
.item-img .discount{
    position: absolute;
    right: 0;
    top: 20px;
    background-color: #fc0707;
    z-index: 1;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    padding: 4px 16px;
}
.item-img img{
    width: 100%;
    display: block;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.filter-item:hover .item-img img{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}
.item-info{
    padding: 14px 0;
}
.item-info p{
    font-weight: 600;
    font-size: 17px;
    margin-top: 8px;
}
.item-info .old-price{
    font-size: 14px;
    font-weight: 700;
    text-decoration: line-through;
}
.item-info .new-price{
    display: inline-block;
    margin-left: 6px;
    font-weight: 600;
    color: #f53939;
}
.add-btn{
    display: inline-block;
    margin-top: 20px;
    background-color: #fc0707;
    text-decoration: none;
    color: #fff;
    padding: 8px 20px;
    border-radius: 2px;
    border: 2px solid #fc0707;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.add-btn:hover{
    border-color:#6C757D;
    background-color: transparent;
    color: #6C757D;
}






.filter-items{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}
.filter-item{
    width: 100%;
    margin-bottom: 40px;
    -webkit-animation: fadeIn 1s;
            animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media screen and (min-width: 768px){
    .filter-item{
        width: calc(50% - 30px);
    }
}

@media screen and (min-width: 768px){
    .filter-item{
        width: calc(33.3333% - 30px);
    }
}

@media screen and (min-width: 768px){
    .filter-item{
        width: calc(25% - 30px);
    }
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(134, 128, 128, 0.5);
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
}

.popup-content {
    text-align: center;
    color: #fff;
}
#visit-now-btn{
    color: white;
}
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
}

.close-2{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #fc0707;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #fc0707;
}




.container-1 {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    min-height: 10px;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    flex: 1;
}

h1 {
    text-align: center;
}

/* p {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight:lighter;
    font-style: normal;
    font-family: sans-serif;
    padding: 20px;
} */

span {
    font-weight: bold;
    color:  rgb(253, 229, 90);
    display: inline-block; /* Needed for animation */
    
}



button {
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(253, 229, 90);
    color: #fff;
    border: none;
    border-radius: 5px;
}




@media (min-width: 768px) {
    .container.about {
        max-width: 100% !important;
    }

    .about-text  {
        padding-right: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 768px) {
    .about-text  {
        padding-right: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 768px) {
    .about-text  {
        padding-right: calc(((100% - 1320px) / 2) + .75rem);
    }
}

@media (min-width: 768px) {
    .container.feature {
        max-width: 100% !important;
    }

    .feature-text  {
        padding-left: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 768px) {
    .feature-text  {
        padding-left: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 768px) {
    .feature-text  {
        padding-left: calc(((100% - 1320px) / 2) + .75rem);
    }
}




/*** Project Portfolio ***/
#portfolio-flters li {
    display: inline-block;
    font-weight: 500;
    color: var(--dark);
    cursor: pointer;
    transition: .5s;
    border-bottom: 2px solid transparent;
   
}

#portfolio-flters li:hover,
#portfolio-flters li.active {
    color: var(--primary);
    border-color: var(--primary);
}

.portfolio-item img {
    transition: .5s;
}

.portfolio-item:hover img {
    transform: scale(1.1);
}

.portfolio-item .portfolio-overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
    height: 0;
    bottom: 0;
    left: 50%;
    background: rgba(53, 53, 53, .7);
    transition: .5s;
}

.portfolio-item:hover .portfolio-overlay {
    width: 100%;
    height: 100%;
    left: 0;
}

.portfolio-item .portfolio-overlay .btn {
    opacity: 0;
}

.portfolio-item:hover .portfolio-overlay .btn {
    opacity: 1;
}


#bg{
    background-image: url(Modern\ Brown\ Indian\ Spices\ and\ Food\ Vlog\ YouTube\ Thumbnail.png);
    background-size: cover;
	background-repeat: no-repeat;
    
}

.display-5 {
    font-family: op;
    font-size: 80px;
    padding-top: 120px;
 

}

.display111{
    font-family: op;
    color: #f53939;
}
#header{
    background-color: #FAF8EB;
}
.title{
    font-family: op;
}

body{
    background-color: #FAF8EB;
}

.header{
    /* position: fixed; */
    width: 100%;
   


}

nav{
   
    display: flex;
    justify-content: center;
    padding: 15px;
    background: url(header.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    z-index: 1;
    border-bottom: 4px solid #F53939;
    border-top: 4px solid #F53939;
    

}

a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
    padding: 10px;
    font-family: op;
    margin-right:15px;

}
li:hover{
    background-color: #F53939;
    border: 2pxsolid
    #F53939;
    border-radius: 5px;
    color: white;
    transition: 0.4s;
    cursor: pointer;
    
}
.logo{
    width: 120px;
    height: 60px;
    position: absolute;
    left: 40px;
    padding-bottom: 10px;
    
    
}
.b1{
    position: absolute;
    right: 40px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    border: 2px solid #F53939;
    border-radius: 5px;
    background-color: #F53939;
    color: white;
    font-family: op;
}
.b1:hover{
    background-color: white;
    border: 2pxsolid
    #F53939;
    border-radius: 5px;
    color: #F53939;
    transition: 0.4s;
}

.footimage{
    width: 100%;
    height: auto;
}
.ibottom{
    height: 60px;
    width: 120px;
}


@media only screen and (max-width: 768px) {
    #bg{
        background-image: url(Hero\ Bg.png);
        background-size: cover;
        background-repeat: no-repeat;
       
    }

}
@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
    nav ul {
        margin-top: 20px;
        flex-direction: column;
    }
    nav ul li {
        margin: 10px 0;
    }
    .display-5{
        font-size: 50px;
    }
}


